.button {
    background-color: #2149ef;
}

.disabled {

}

.secondary {
    background-color: #53e1dc;
}

.default {
    background-color: rgba(251, 105, 238, 0.65);
}

.red {
    background-color: #e60a0a;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
